dist
dist-*
.vscode
tx.raw
tx.sign
scripts/testnet
testnet/keyHolder.skey
preview-testnet
testnet2
cabal-dev
protocol.json
initial.json
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
.nix-shell-cabal.project
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
*~
*#
.HTF/
.ghc.environment.*
result
*-dynamic
*-static
*.tar.gz
.aws-sam/
QvfGenerateScriptsFunction/
tmp/

