dist
dist-*
.vscode
tx.raw
tx.sign
scripts/testnet
cabal-dev
protocol.json
initial.json
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
.nix-shell-cabal.project
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
